& {
  color: #e91c50;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  width: 600px;
  max-width: 100%;

  label {
    display: flex;
    flex-direction: column;
  }

  .error-message {
    border: solid 0.2rem #e91c50;
    padding: 0.5rem;
  }

  input,
  button,
  select {
    font-size: 1rem;

    border: 0.2rem solid #cccccc;
    border-radius: 0.5rem;

    &:focus {
      border: 0.2rem solid #e91c50;
      outline: none;
    }
  }

  input,
  select {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  label {
    span {
      font-size: 1.25rem;
    }
  }

  button {
    margin-top: 1.5rem;
    padding: 1rem;

    background-color: #e91c50;
    color: #ffffff;

    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: lighten(#e91c50, 5%);
      text-decoration: underline;
    }

    &:active {
      background-color: darken(#e91c50, 10%);
    }
  }
}
