& {
  background-color: rgba(255, 255, 255, 0.45);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border-radius: 9999px;
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    cursor: pointer;
    &:hover {
      background: #d9f99d;
    }
    span {
      margin: auto;
    }
  }
}
