& {
  color: #e91c50;
  margin-top: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
  }

  .error-message {
    border: solid 0.2rem #e91c50;
    padding: 0.5rem;
  }

  input,
  button {
    height: 4rem;

    font-size: 2rem;

    border: 0.2rem solid #cccccc;
    border-radius: 0.5rem;

    &:focus {
      border: 0.2rem solid #e91c50;
      outline: none;
    }
  }

  input {
    margin-bottom: 0.5rem;
  }

  button {
    padding: 0.5rem 1rem;

    margin-top: 2rem;
    margin-bottom: 2rem;

    background-color: #e91c50;
    color: #ffffff;

    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: lighten(#e91c50, 5%);
      text-decoration: underline;
    }

    &:active {
      background-color: darken(#e91c50, 10%);
    }
  }
}
