<div class={{this.styleNamespace}}>
  {{#each this.rangeInt}}
    <svg
      fill="#000000"
      version="1.1"
      id="Capa_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="20px"
      height="20px"
      viewBox="0 0 314.335 314.336"
      xml:space="preserve"
    >
      <g>
        <path
          d="M302.593,117.321h-80.698c-13.583,0-27.994-10.472-32.191-23.398l-24.944-76.744c-4.197-12.925-10.997-12.925-15.198,0
		l-24.941,76.744c-4.2,12.926-18.612,23.398-32.195,23.398H11.74c-13.583,0-15.688,6.473-4.699,14.462l65.284,47.426
		c10.989,7.986,16.498,24.932,12.298,37.854l-24.941,76.741c-4.2,12.922,1.309,16.922,12.298,8.93l65.291-47.427
		c10.988-7.986,28.805-7.986,39.794,0l65.29,47.427c10.988,7.992,16.501,3.98,12.298-8.93l-24.938-76.741
		c-4.197-12.923,1.31-29.868,12.298-37.854l65.284-47.426C318.285,123.794,316.176,117.321,302.593,117.321z"
        />
      </g>
    </svg>
  {{/each}}
  {{#if this.withHalfStar}}
    <svg
      fill="#000000"
      width="20px"
      height="20px"
      viewBox="0 0 32 32"
      id="icon"
      xmlns="http://www.w3.org/2000/svg"
    ><title>star--half</title><polygon
        points="11.45 11.22 1.28 12.7 8.64 19.87 6.9 30 16 25.22 16 2 11.45 11.22"
      /><rect
        id="_Transparent_Rectangle_"
        data-name="&lt;Transparent Rectangle&gt;"
        class="cls-1"
        width="32"
        height="32"
      /></svg>
  {{/if}}
</div>